/analysis/*
/bins/*

**/test-*/*
!notebooks/tests/test-data/A10*
!notebooks/tests/test-data/F22*
!notebooks/tests/test-wars/A10*
!notebooks/tests/test-wars/F22*

/build/*
/ddfs/*
/dist/*
/.venv/
/venv-*/
**/.*/
**/__pycache__/
**/__pycache__/*
/__pycache__/
*.pyc
slurm-*.out
**/pipeline-wars/*
*.ps1
*.prof