.cursorignore

/analysis/*
/bins/*

**/test-*/*
**/test-*.png
**/test-*.xlsx
**/wars-*/*
**/sars-*/*
!notebooks/tests/test-data/A10*
!notebooks/tests/test-data/F22*
!notebooks/tests/test-wars/A10*
!notebooks/tests/test-wars/F22*

/build/*
/ddfs/*
/dist/*
/tmp/*
*.egg-info/
*.egg
dist/
/.venv/
/venv-*/
**/.*/
**/__pycache__/
**/__pycache__/*
/__pycache__/
*.pyc
slurm-*.out
**/pipeline-wars/*
*.ps1
*.prof

**/.DS_Store
notebooks/tests/test_all_functions_Yong.ipynb

/notebooks/tests/test-data
*.pkl
*.bin
*.csv
*.gz
.DS_Store
*.dat
.coverage
.coverage.*

site/