[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cmasher = "*"
matplotlib = "*"
mne = "*"
mne-connectivity = "*"
numpy = "*"
pactools = "*"
pandas = "*"
probeinterface = "*"
pyinstaller = "*"
scipy = "*"
spikeinterface = "*"
ipykernel = "*"
dask = {extras = ["distributed"], version = "*"}
nodejs = "*"
npm = "*"
dask-labextension = "*"
bokeh = "*"
dask-jobqueue = "*"
seaborn = "*"
pipreqs = "*"
pyarrow = "*"
mountainsort5 = "*"
statannotations = "*"
statsmodels = "*"
django = "*"
neo = "*"
pyedflib = "*"
edfio = "*"

[dev-packages]
snakeviz = "*"
pyqt5 = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.8"
