[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cmasher = "*"
matplotlib = "*"
mne = "*"
mne-connectivity = "*"
numpy = "*"
pactools = "*"
pandas = "*"
probeinterface = "*"
pyinstaller = "*"
scipy = "*"
spikeinterface = "*"
ipykernel = "*"
dask = {extras = ["distributed"], version = "*"}
nodejs = "*"
npm = "*"
dask-labextension = "*"
bokeh = "*"
dask-jobqueue = "*"
seaborn = "*"
pipreqs = "*"
pyarrow = "*"
mountainsort5 = "*"
statannotations = "*"
statsmodels = "*"
django = "*"
neo = "*"
pyedflib = "*"
edfio = "*"
build = "*"
pythoneeg = {path = ".", editable = true}
pyprep = "*"
okabeito = "*"
openpyxl = "*"
starbars = "*"

[dev-packages]
snakeviz = "*"
pyqt5 = "*"
mkdocs = "*"
mkdocstrings = {extras = ["python"], version = "*"}
mkdocs-material = "*"
pytest = ">=7.0.0"
pytest-cov = ">=4.0.0"
pytest-mock = ">=3.10.0"
pytest-xdist = ">=3.0.0"
pytest-benchmark = ">=4.0.0"
pytest-html = ">=3.1.0"
pytest-json-report = ">=1.5.0"
factory-boy = ">=3.2.0"
faker = ">=18.0.0"

[requires]
python_version = "3.10"
python_full_version = "3.10.8"
