-i https://pypi.org/simple
babel==2.17.0; python_version >= '3.8'
backrefs==5.9; python_version >= '3.9'
certifi==2025.8.3; python_version >= '3.7'
charset-normalizer==3.4.2; python_version >= '3.7'
click==8.2.1; python_version >= '3.10'
colorama==0.4.6; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
coverage[toml]==7.10.2; python_version >= '3.9'
exceptiongroup==1.3.0; python_version >= '3.7'
execnet==2.1.1; python_version >= '3.8'
factory-boy==3.3.3; python_version >= '3.8'
faker==37.5.3; python_version >= '3.9'
ghp-import==2.1.0
griffe==1.11.0; python_version >= '3.9'
idna==3.10; python_version >= '3.6'
iniconfig==2.1.0; python_version >= '3.8'
jinja2==3.1.6; python_version >= '3.7'
markdown==3.8.2; python_version >= '3.9'
markupsafe==3.0.2; python_version >= '3.9'
mergedeep==1.3.4; python_version >= '3.6'
mkdocs==1.6.1; python_version >= '3.8'
mkdocs-autorefs==1.4.2; python_version >= '3.9'
mkdocs-get-deps==0.2.0; python_version >= '3.8'
mkdocs-material==9.6.16; python_version >= '3.8'
mkdocs-material-extensions==1.3.1; python_version >= '3.8'
mkdocstrings[python]==0.30.0; python_version >= '3.9'
mkdocstrings-python==1.16.12; python_version >= '3.9'
nodejs==0.1.1
npm==0.1.1
optional-django==0.1.0
packaging==25.0; python_version >= '3.8'
paginate==0.5.7
pathspec==0.12.1; python_version >= '3.8'
platformdirs==4.3.8; python_version >= '3.9'
pluggy==1.6.0; python_version >= '3.9'
py-cpuinfo==9.0.0
pygments==2.19.2; python_version >= '3.8'
pymdown-extensions==10.16.1; python_version >= '3.9'
pytest==8.4.1; python_version >= '3.9'
pytest-benchmark==5.1.0; python_version >= '3.9'
pytest-cov==6.2.1; python_version >= '3.9'
pytest-html==4.1.1; python_version >= '3.8'
pytest-json-report==1.5.0
pytest-metadata==3.1.1; python_version >= '3.8'
pytest-mock==3.14.1; python_version >= '3.8'
pytest-xdist==3.8.0; python_version >= '3.9'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
pyyaml==6.0.2; python_version >= '3.8'
pyyaml-env-tag==1.1; python_version >= '3.9'
requests==2.32.4; python_version >= '3.8'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
snakeviz==2.2.2; python_version >= '3.9'
tomli==2.2.1; python_version >= '3.8'
tornado==6.5.2; python_version >= '3.9'
typing-extensions==4.14.1; python_version >= '3.9'
tzdata==2025.2; python_version >= '2'
urllib3==2.5.0; python_version >= '3.9'
watchdog==6.0.0; python_version >= '3.9'
aiohappyeyeballs==2.6.1; python_version >= '3.9'
aiohttp==3.12.15; python_version >= '3.9'
aiosignal==1.4.0; python_version >= '3.9'
altgraph==0.17.4
annotated-types==0.7.0; python_version >= '3.8'
anyio==4.10.0; python_version >= '3.9'
appnope==0.1.4; python_version >= '3.6'
argon2-cffi==25.1.0; python_version >= '3.8'
argon2-cffi-bindings==25.1.0; python_version >= '3.9'
arrow==1.3.0; python_version >= '3.8'
asciitree==0.3.3
asgiref==3.9.1; python_version >= '3.9'
asttokens==3.0.0; python_version >= '3.8'
async-lru==2.0.5; python_version >= '3.9'
async-timeout==5.0.1; python_version >= '3.8'
attrs==25.3.0; python_version >= '3.8'
backcall==0.2.0
beautifulsoup4==4.13.4; python_full_version >= '3.7.0'
bleach[css]==6.2.0; python_version >= '3.9'
bokeh==3.7.3; python_version >= '3.10'
build==1.3.0; python_version >= '3.9'
cffi==1.17.1; python_version >= '3.8'
cftime==1.6.4.post1; python_version >= '3.8'
cloudpickle==3.1.1; python_version >= '3.8'
cmasher==1.9.2; python_version >= '3.10' and python_version < '4'
colorspacious==1.1.2
comm==0.2.3; python_version >= '3.8'
contourpy==1.3.2; python_version >= '3.10'
cycler==0.12.1; python_version >= '3.8'
dask[distributed]==2025.7.0; python_version >= '3.10'
dask-jobqueue==0.9.0; python_version >= '3.10'
dask-labextension==7.0.0; python_version >= '3.8'
debugpy==1.8.16; python_version >= '3.8'
decorator==5.2.1; python_version >= '3.8'
defusedxml==0.7.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
distributed==2025.7.0; python_version >= '3.10'
django==5.2.5; python_version >= '3.10'
docopt==0.6.2
edfio==0.4.9; python_version >= '3.9'
et-xmlfile==2.0.0; python_version >= '3.8'
executing==2.2.0; python_version >= '3.8'
fasteners==0.19; python_version >= '3.6'
fastjsonschema==2.21.1
fonttools==4.59.0; python_version >= '3.9'
fqdn==1.5.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4' and python_version < '4'
frozenlist==1.7.0; python_version >= '3.9'
fsspec==2025.7.0; python_version >= '3.9'
h11==0.16.0; python_version >= '3.8'
h5py==3.14.0; python_version >= '3.9'
httpcore==1.0.9; python_version >= '3.8'
httpx==0.28.1; python_version >= '3.8'
importlib-metadata==8.7.0; python_version >= '3.9'
ipykernel==6.30.1; python_version >= '3.9'
ipython==8.12.3; python_version >= '3.8'
isoduration==20.11.0; python_version >= '3.7'
isosplit6==0.1.4
jedi==0.19.2; python_version >= '3.6'
joblib==1.5.1; python_version >= '3.9'
json5==0.12.0; python_full_version >= '3.8.0'
jsonpointer==3.0.0; python_version >= '3.7'
jsonschema[format-nongpl]==4.25.0; python_version >= '3.9'
jsonschema-specifications==2025.4.1; python_version >= '3.9'
jupyter-client==8.6.3; python_version >= '3.8'
jupyter-core==5.8.1; python_version >= '3.8'
jupyter-events==0.12.0; python_version >= '3.9'
jupyter-lsp==2.2.6; python_version >= '3.8'
jupyter-server==2.16.0; python_version >= '3.9'
jupyter-server-proxy==4.4.0; python_version >= '3.8'
jupyter-server-terminals==0.5.3; python_version >= '3.8'
jupyterlab==4.4.5; python_version >= '3.9'
jupyterlab-pygments==0.3.0; python_version >= '3.8'
jupyterlab-server==2.27.3; python_version >= '3.8'
kiwisolver==1.4.8; python_version >= '3.10'
lark==1.2.2; python_version >= '3.8'
lazy-loader==0.4; python_version >= '3.7'
locket==1.0.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
matplotlib==3.10.5; python_version >= '3.10'
matplotlib-inline==0.1.7; python_version >= '3.8'
mistune==3.1.3; python_version >= '3.8'
mne==1.10.0; python_version >= '3.10'
mne-connectivity==0.7.0; python_version >= '3.9'
mountainsort5==0.5.8
msgpack==1.1.1; python_version >= '3.8'
multidict==6.6.3; python_version >= '3.9'
narwhals==2.0.1; python_version >= '3.9'
nbclient==0.10.2; python_full_version >= '3.9.0'
nbconvert==7.16.6; python_version >= '3.8'
nbformat==5.10.4; python_version >= '3.8'
neo==0.14.2; python_version >= '3.9'
nest-asyncio==1.6.0; python_version >= '3.5'
netcdf4==1.7.2; python_version >= '3.8'
notebook-shim==0.2.4; python_version >= '3.7'
numcodecs==0.13.1; python_version >= '3.10'
numpy==2.2.6; python_version >= '3.10'
okabeito==0.99
openpyxl==3.1.5; python_version >= '3.8'
overrides==7.7.0; python_version >= '3.6'
pactools==0.3.1
pandas==2.3.1; python_version >= '3.9'
pandocfilters==1.5.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
parso==0.8.4; python_version >= '3.6'
partd==1.4.2; python_version >= '3.9'
patsy==1.0.1; python_version >= '3.6'
pexpect==4.9.0; sys_platform != 'win32'
pickleshare==0.7.5
pillow==11.3.0; python_version >= '3.9'
pipreqs==0.5.0; python_version < '3.13' and python_full_version >= '3.8.1'
pooch==1.8.2; python_version >= '3.7'
probeinterface==0.3.0; python_version >= '3.8'
prometheus-client==0.22.1; python_version >= '3.9'
prompt-toolkit==3.0.51; python_version >= '3.8'
propcache==0.3.2; python_version >= '3.9'
psutil==7.0.0; python_version >= '3.6'
ptyprocess==0.7.0
pure-eval==0.2.3
pyarrow==21.0.0; python_version >= '3.9'
pycparser==2.22; python_version >= '3.8'
pydantic==2.11.7; python_version >= '3.9'
pydantic-core==2.33.2; python_version >= '3.9'
pyedflib==0.1.42
pyinstaller==6.15.0; python_version < '3.15' and python_version >= '3.8'
pyinstaller-hooks-contrib==2025.8; python_version >= '3.8'
pyparsing==3.2.3; python_version >= '3.9'
pyprep==0.5.0; python_version >= '3.9'
pyproject-hooks==1.2.0; python_version >= '3.7'
python-json-logger==3.3.0; python_version >= '3.8'
-e .
pytz==2025.2
pyzmq==27.0.1; python_version >= '3.8'
quantities==0.16.2; python_version >= '3.9'
referencing==0.36.2; python_version >= '3.9'
rfc3339-validator==0.1.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
rfc3986-validator==0.1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
rfc3987-syntax==1.1.0; python_version >= '3.9'
rpds-py==0.27.0; python_version >= '3.9'
scikit-learn==1.7.1; python_version >= '3.10'
scipy==1.15.3; python_version >= '3.10'
seaborn==0.13.2; python_version >= '3.8'
send2trash==1.8.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
setuptools==80.9.0; python_version >= '3.9'
simpervisor==1.0.0; python_version >= '3.8'
sniffio==1.3.1; python_version >= '3.7'
sortedcontainers==2.4.0
soupsieve==2.7; python_version >= '3.8'
spikeinterface==0.103.0; python_version < '3.14' and python_version >= '3.9'
sqlparse==0.5.3; python_version >= '3.8'
stack-data==0.6.3
starbars==3.1.1
statannotations==0.7.2; python_version >= '3.8'
statsmodels==0.14.5; python_version >= '3.9'
tblib==3.1.0; python_version >= '3.9'
terminado==0.18.1; python_version >= '3.8'
threadpoolctl==3.6.0; python_version >= '3.9'
tinycss2==1.4.0; python_version >= '3.8'
toolz==1.0.0; python_version >= '3.8'
tqdm==4.67.1; python_version >= '3.7'
traitlets==5.14.3; python_version >= '3.8'
types-python-dateutil==2.9.0.20250809; python_version >= '3.9'
typing-inspection==0.4.1; python_version >= '3.9'
uri-template==1.3.0; python_version >= '3.7'
wcwidth==0.2.13
webcolors==24.11.1; python_version >= '3.9'
webencodings==0.5.1
websocket-client==1.8.0; python_version >= '3.8'
xarray==2025.6.1; python_version >= '3.10'
xyzservices==2025.4.0; python_version >= '3.8'
yarg==0.1.9
yarl==1.20.1; python_version >= '3.9'
zarr==2.18.3; python_version >= '3.10'
zict==3.0.0; python_version >= '3.8'
zipp==3.23.0; python_version >= '3.9'
