cmasher~=1.9.2
matplotlib~=3.10.0
mne~=1.9.0
mne_connectivity~=0.7.0
mountainsort5~=0.5.6
numpy~=2.2.2
pactools~=0.3.1
pandas~=2.2.3
probeinterface~=0.2.24
pyinstaller~=6.11.1
scipy~=1.15.1
spikeinterface~=0.101.2
